@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap');

@import "tailwindcss";
@plugin "daisyui";
@theme{
    --color-button: #FCA5A5
}

body {
  scroll-behavior: smooth !important;
  font-family: "Libertinus Math", system-ui;
  font-weight: 400;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
/* Scrollbar hide */
.scrollbar-hide {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }


  /* Add this in index.css or your Tailwind file */
.animated-border {
    background: linear-gradient(270deg, #14b8a6, #f59e0b, #3b82f6);
    background-size: 600% 600%;
    animation: borderGradient 6s ease infinite;
    border-radius: 1rem;
  }
    /* Add this in index.css or your Tailwind file */
.animated-border2 {
  background: linear-gradient(270deg, #83e4d8, #25211a, #5f89cc);
  background-size: 600% 600%;
  animation: borderGradient 6s ease infinite;
  border-radius: 1rem;
}

  
  @keyframes borderGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  


